/*   FOOTER        */
.footer {
    display: flex;
    grid-area: footer;
    width: 100%;
    height: 6rem;
    background-image: linear-gradient($color-rosaclaro, $color-bordo);
    color: $color-blanco;
    align-items: center;
    padding-left: 2rem;
}
