html {
    height: 100%;
}

/*    GRID AREAS INDEX    */
.contenedorIndex {
    display: grid;
    grid-template-areas: "header"
                        "banner"
                        "barraContacto"
                        "main"
                        "footer";
    grid-template-columns: 100%;
    grid-template-rows: 7rem 50vh 4rem auto 7rem;
}


/* GRID AREAS ACTIVIDADES*/
.contenedorActs { 
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 7rem 50vh auto 7rem;
    grid-template-areas: "header"
                        "bannerTitulo"
                        "mainAct"
                        "footer";
}

@media (min-width: 1100px) {
    .contenedorActs {
        grid-template-areas: 
        "header"
        "bannerTitulo"
        "mainAct"
        "footer";
    }
} 

/* GRID AREAS GALERIA*/


/*GRID AREAS HISTORIA*/


/* GRID  AREAS  CONTACTO*/
.contenedorCont {
    display: grid;
    grid-template-areas: "header"
                        "bannerTitulo"
                        "formulario"
                        "footer";
    grid-template-columns: 100%;
    grid-template-rows: 7rem 5rem auto 7rem;
}