@mixin botonesimgIndex ($color-boton, $color-letraboton) {
    text-decoration: none;
    padding: 1rem ;
    border-radius: 4px;
    background-color: $color-boton;
    color: $color-letraboton;
    
}   