/* COLORES varialbes*/
.navLista li a {
  border-radius: 4px;
  padding: 9px;
  background-color: rgb(202, 132, 132);
  text-decoration: none;
  color: rgb(226, 222, 222);
}

.bannerTitulo {
  background-color: rgb(226, 222, 222);
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35px;
}

html {
  height: 100%;
}

/*    GRID AREAS INDEX    */
.contenedorIndex {
  display: grid;
  grid-template-areas: "header" "banner" "barraContacto" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 7rem 50vh 4rem auto 7rem;
}

/* GRID AREAS ACTIVIDADES*/
.contenedorActs {
  display: grid;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 7rem auto auto 7rem;
  grid-template-areas: "header" "bannerTitulo" "mainAct" "footer";
}

/* GRID AREAS GALERIA*/
/*GRID AREAS HISTORIA*/
/* GRID  AREAS  CONTACTO*/
.contenedorCont {
  display: grid;
  grid-template-areas: "header" "bannerTitulo" "formulario" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 7rem 5rem auto 7rem;
}

/* HEADER barra de nav */
.header {
  display: flex;
  grid-area: header;
  background-image: linear-gradient(to left, rgb(243, 243, 243), rgb(167, 89, 89));
  justify-content: space-evenly;
  align-items: center;
}

/*trasformacion del titulo de barra de navegacion*/
.tituloHeader {
  width: 170px;
  height: 40px;
  transform: translate();
  transition: 1s;
}
.tituloHeader:hover {
  transform: rotate(-10deg);
}

/*lista de barra de navegacion*/
.navLista {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.navLista li {
  margin: 2rem;
}
.navLista li a:hover {
  color: #000;
}

.bannerTitulo {
  display: flex;
  grid-area: bannerTitulo;
}
.bannerTitulo h2 {
  color: rgb(167, 89, 89);
  font-size: 160%;
}

/*  BANNER  INDEX*/
.banner {
  display: flex;
  grid-area: banner;
  background-image: url(../Imagenes/banner.jpg);
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-attachment: fixed;
}
.banner .banner h2 {
  color: rgb(226, 222, 222);
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.bannerHistoria {
  display: flex;
  background-image: url(../Imagenes/tenisAmigos.jpg);
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-attachment: fixed;
}
.bannerHistoria h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  size: 44px;
  width: 100%;
  height: 60vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(90, 0, 0);
}

.InfoHistoria {
  background-color: rgb(252, 230, 230);
}
.InfoHistoria p {
  padding: 8rem 6rem 10rem 6rem;
}

/* BARRA comun p/las PAGES */
.bannerTitulo {
  background-image: linear-gradient(rgb(252, 230, 230), rgb(226, 222, 222));
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cardContacto {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
}
.cardContacto div a:hover {
  color: #000;
}

.buttonContacto {
  display: flex;
  align-items: center;
  padding: 2vh;
  color: #BF5630;
  text-decoration: none;
  font-weight: bold;
  font-size: 140%;
}

/*    IMAGENES INDEX      */
.mainIndex {
  display: flex;
  grid-area: main;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(252, 230, 230);
  padding-top: 2%;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 6%;
}

.sectionIndex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(226, 222, 222);
  margin: 3rem;
}
.sectionIndex .card {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /*no-wrap para Actividades*/
  justify-content: space-around;
  width: 60vh;
  height: auto;
  border: solid 4px #c97a5d;
  border-radius: 4px;
}
.sectionIndex .card .imagenesCard {
  height: 50%;
  width: 100%;
}
.sectionIndex .card .imagenesCard img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px 6px 0px 0px;
}
.sectionIndex .card .cuerpo {
  width: 40vw;
  height: 20vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.sectionIndex .card .cuerpo p {
  display: flex;
  justify-content: center;
  width: 40vw;
  size: auto;
  padding: 1rem;
  margin: 1rem;
}
.sectionIndex .card .cuerpo .a {
  width: 40vh;
}

.button1 {
  text-decoration: none;
  padding: 1rem;
  border-radius: 4px;
  background-color: rgb(144, 222, 233);
  color: #1d110d;
}

.button2 {
  text-decoration: none;
  padding: 1rem;
  border-radius: 4px;
  background-color: rgb(125, 193, 202);
  color: #1d110d;
}

.button3 {
  text-decoration: none;
  padding: 1rem;
  border-radius: 4px;
  background-color: rgb(84, 128, 134);
  color: #1d110d;
}

.button4 {
  text-decoration: none;
  padding: 1rem;
  border-radius: 4px;
  background-color: rgb(28, 96, 105);
  color: #1d110d;
}

/*IMAGENES ACTIVIDADES*/
.sectionAct {
  background-color: rgb(252, 230, 230);
}
.sectionAct .cardAct .imagenesAct {
  width: 70vw;
  height: 30vh;
}
.sectionAct .cardAct .imagenesAct img {
  width: 100%;
  height: 100%;
}

/*   FOOTER        */
.footer {
  display: flex;
  grid-area: footer;
  width: 100%;
  height: 6rem;
  background-image: linear-gradient(rgb(252, 230, 230), rgb(90, 0, 0));
  color: rgb(226, 222, 222);
  align-items: center;
  padding-left: 2rem;
}

/* Formulario contacto */
form {
  display: flex;
  grid-area: formulario;
  background-image: url(../Imagenes/banner.jpg);
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-attachment: fixed;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
  color: rgb(226, 222, 222);
  padding-left: 3rem;
  font-size: 120%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
}

* {
  margin: 0%;
}

/*   MEDIA QUERI */
@media (max-width: 1300px) {
  .navegacion {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */